* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: rgba(187, 187, 180, 0.603);
  font-family: 'Nunito', sans-serif; }
  body p {
    text-align: center;
    font-size: 2em; }
  body i {
    font-size: 3em;
    padding: 10px; }
  body .container {
    width: 1120px;
    margin: 0 auto;
    background-color: rgba(200, 200, 196, 0.753);
    padding: 20px;
    min-height: 100vh; }
    body .container section {
      margin-bottom: 2em; }
      body .container section .container__small {
        display: flex;
        justify-content: space-around; }
        body .container section .container__small .container__look {
          flex-basis: 39%;
          text-align: center;
          height: 30vh; }

header h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 5em;
  padding: 10px; }

section .menu__search {
  text-align: center;
  margin-top: 2em; }
  section .menu__search input#cityName {
    width: 40%;
    padding: 5px;
    transition: 500ms all;
    text-align: center;
    cursor: pointer; }
  section .menu__search button {
    border: 0;
    padding: 5px;
    margin-left: 0.5em;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: #000;
    cursor: pointer; }
