* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(187, 187, 180, 0.603);
    font-family: 'Nunito', sans-serif;

    p {
        text-align: center;
        font-size: 2em;
    }

    i {
        font-size: 3em;
        padding: 10px;
    }

    .container {
        width: 1120px;
        margin: 0 auto;
        background-color: rgba(200, 200, 196, 0.753);
        padding: 20px;
        min-height: 100vh;

        section {
            margin-bottom: 2em;

            .container__small {
                display: flex;

                justify-content: space-around;

                .container__look {
                    flex-basis: 39%;
                    text-align: center;
                    height: 30vh;

                }
            }
        }
    }
}